body, html {
    background: #1F2427;
    font-family: Poppins-Regular, sans-serif;
}

.col {
    padding: 0;
}

.form-row {
    display: flex;
    justify-content: center;
}

.input-style {
    background-color: #3D424F;
    border: none;
}

.input-style::placeholder {
    color: #A9ABAF;
}

.form-control {
    color: #fff;
}

.section-title {
    margin: 20px;
    text-align: center;
    padding-left: 12px;
    font-size: 24px;
    width: 250px;
    color: #fff;
}

.card {
    margin: 20px;
    width: 250px;
    border: none;
    background-color: #2A2D39;
    border-radius: 12px;
}

.cards {
    display: flex;
    justify-content: center;
}

.card-body {
    padding: 15px 15px 15px 15px;
    border-radius: 5%;
}

.card-title {
    color: #666672;
    font-size: 18px;
}

.card-text {
    color: #A9ABAF;
    font-size: 14px;
}

.card-btn-todo {
    background-color: #F5A623;
    border: none;
    color: white;
}

.card-btn-working-on {
    background-color: #3591FA;
    border: none;
    color: white;
}

.card-btn-completed {
    background-color: #71C016;
    border: none;
    color: white;
}

.card-tags {
    margin: 2px;
}

.posted-date {
    color: #A9ABAF;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    text-align: right;
}

.col-date {
    text-align: right;
    padding-top: 5px;
}

.form-container {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.form-group {
    padding-left: 12px;
}

.form-btn {
    margin-top: 31px;
}

.assigned-field {
    color: #D75257;
    font-weight: bold;
    font-size: 12px;
}

.btn-danger {
    width: 100px;
}

.btn-clear {
    display: flex;
    justify-content: center;
}